
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.head{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    transition: 1s;
    color: aliceblue;
    justify-content: left;
    align-items: center;
    background-color:transparent;
    
}
.head:hover{
    background-color: rgb(1,15,99);
}
.bar{
    border: 1px solid black;
    font-size: 25px;
    padding: 3px;
    margin: 10px 10px 10px 40px;
    display: none;
    
}
.item{
    padding: 5px;
    transition: 1s;
    margin: 5px 0px 5px 30px;
}
.item:hover{
    background-color: rgb(10, 165, 212);
    border-radius: 10px;
}
.sidebar{
    height: 93vh;
    top:40px;
    position: fixed;
    width: 50%;
    background-color:rgb(1,15,99) ;
    display: flex;
    left: -100%;
    transition: 1s;
    align-items: center;
    
    z-index: 5;
    flex-direction: column;
   
}
.sidebar div{
    margin: 10px;
}
@media only screen and (max-width:700px) {
   .bar{
    display: block;
   }
   .item{
    display: none;
   }
}