
/* *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.dismain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #333;
  }
.dis{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70vh; 
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
}
.dis input,button{
    width: 70%;
    height: 30px;
    margin: 5px;
}
button{
    background-color: rgb(7,7,159);
    color: aliceblue;
    text-align: center;
    line-height: 30px;
}
button:hover{
    box-shadow: 3px 3px 3px rgb(7,7,159);
}
@media screen and (max-width:700px) {
    .dis{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 70vh; 
        border: 1px solid black;
        box-shadow: 2px 2px 2px gray;
    }
    
} */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;
}

.dismain {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f4f8;
    padding: 20px;
}

.dis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.pp {
    color: #073083;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.in,
<<<<<<< HEAD
.bbtn
=======
.btn
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
{
    width: 80%;
    height: 40px;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
<<<<<<< HEAD
    
    transition: all 0.3s ease-in-out;
}

.in:focus
=======
    outline: none;
    transition: all 0.3s ease-in-out;
}

.in:focus,
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
{
    border-color: #073083;
    box-shadow: 0 0 8px rgba(7, 7, 159, 0.2);
}


<<<<<<< HEAD
.bbtn {
=======
.btn {
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
    /* width: 85%; */
    background-color: #073083;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
<<<<<<< HEAD
   
}

.bbtn:hover {
=======
    transition: background-color 0.3s ease;
}

.btn:hover {
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
    background-color: #0056b3;
    box-shadow: 0px 4px 10px rgba(7, 7, 159, 0.3);
}

<<<<<<< HEAD
.bbtn:active {
    background-color: #073083;
    box-shadow: none;
}
.bbtn{
=======
.btn:active {
    background-color: #073083;
    box-shadow: none;
}
.btn{
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
    width: 80%;
}

@media screen and (max-width: 700px) {
    .dis {
        width: 80%;
        padding: 25px;
    }

<<<<<<< HEAD
   .bbtn,.in{
=======
   .btn,.in{
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
        width: 100%;
    }

   .in {
        font-size: 16px;
        height: 38px;
    }

<<<<<<< HEAD
    .bbtn {
=======
    .btn {
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
        font-size: 16px;
        height: 40px;
    }

    .pp {
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
    .dis {
        width: 95%;
        padding: 20px;
    }

<<<<<<< HEAD
   .bbtn,
=======
   .btn,
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
   .in{
        width: 100%;
        font-size: 14px;
    }

    .in{
        height: 35px;
    }

<<<<<<< HEAD
    .bbtn {
=======
    .btn {
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
        height: 38px;
        font-size: 15px;
    }

    .pp {
        font-size: 20px;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 29b1658a361852b0d311d3f43a06eff02107fa95
