*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
  .dis{
      display: flex;
      background-color: aliceblue;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 80vh; 
      border: 1px solid black;
      box-shadow: 2px 2px 2px gray;
  }
  .dis input,button,select{
      width: 70%;
      height: 30px;
      margin: 5px;
      
  }
  option{
    text-align: center;
  }
  button{
      background-color: rgb(7,7,159);
      color: aliceblue;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  button:hover{
      box-shadow: 3px 3px 3px rgb(7,7,159);
  }
  @media screen and (max-width:700px) {
      .dis{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: 70vh; 
          border: 1px solid black;
          box-shadow: 2px 2px 2px gray;
      }
      
  }
  

 