*{
    padding: 0px;
    margin: 0px;
}
.rooti{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    margin: 0px auto;
    height: 100dvh;
}
.root-1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  height: auto;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
}